@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;

    
    color: white;
    text-decoration: none;
    list-style: none;
}

body {
    background: url(./bg.svg);
    font-family: 'Roboto', sans-serif;
}

section.navbar {
    width: 100vw;
    height: 5vh;
    position: fixed;
    background-color: #12253a;
}

section.navbar ul{
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    display: flex;
}

section.navbar ul a{
    background-color: #12253a;
    font-size: 1.3rem;
    padding-top: .9rem;
    width: 50%;
    height: 100%; 

    justify-content: center;
    text-align: center;

    transition-duration: 500ms;
}

section.navbar ul a:hover{
    background-color: #0e1c2c;
}

section.main {
    margin: auto;
    height: 90vh;
    width: 90vw;

    display: flex;
    align-items: center;   
    justify-content: center;
}

section.main div {
    width: 30%;
    height: 20%;
    border-radius: 1rem;
    
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column
}

.form {
    background-color: #2a3a5a;
}

input {
    width: 12rem;
    border: none;
    background-color: #1f2a41;
    padding: .2rem;
    border-radius: .5rem;
    font-family: 'Roboto', sans-serif;

}

button {
    padding: .2rem;
    border: none;
    width: 12.4rem;
    background-color: #1f2a41;
    border-radius: .5rem;
    margin-top: .3em;
    font-family: 'Roboto', sans-serif;
}